@import 'variables.scss';

.wrap {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-44.9%, 0);
    width: 1138px;
    height: 510px;
    background: url(./img/space.png) 408px -131px no-repeat;
    z-index: 1;
}

.astronaut {
    background: url(./img/astronaut.png) 554px 99px no-repeat;
    width: 100%;
    height: 100%;
    transform: rotate(-3deg);
}