@import 'variables.scss';

.member {
    position: relative;
    width: 200px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-right: 48px;
    text-align: center;

    &:nth-child(4n) {
        margin-right: 0;
    }

    @media screen and (max-width: 1024px) {
        width: 50%;
        margin-right: 0;
        padding-bottom: 0;
    }
}

.name {
    opacity: 0.9;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -0.22px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;

    @media screen and (max-width: 1024px) {
        font-size: 18px;
        margin-top: 10px;
    }
}

.image {
    height: 151px;
    width: 151px;
    border: 3px solid #FFFFFF;
    background-color: #D8D8D8;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
        height: 120px;
        width: 120px;
    }
}

.position {
    opacity: 0.9;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.17px;
    margin-bottom: 15px;

    @media screen and (max-width: 1024px) {
        font-size: 14px;
    }
}

.description {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0.52px;
    line-height: 21px;
}
