@import 'variables.scss';

.container {
    position: absolute;
    top: 12px;
    left: 0;
    z-index: 2;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 17px;
}

.wrapLogo {
    width: 100px;;
}
