@import 'variables.scss';

.wrap {
    width: 936px;
    margin: 23px auto;
}

.link {
    position: relative;
    opacity: .9;	
    font-size: 16px;	
    letter-spacing: -.17px;
    color: $color-dobger-blue;

    &::after {
        content: '';
        position: absolute;
        border-bottom: 1px solid $color-dobger-blue;
        width: 33px;
        bottom: 0;
        right: 0;
    }
}

.arrow {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: $color-dobger-blue;
    height: 1px;
    width: 16px;
    margin-right: 6px;

    &::before,
    &::after {
        content: "";
        background: $color-dobger-blue;
        position: absolute;
        height: 1px;
        width: 7px;
    }

    &::before {
        left: -.5px;
        bottom: -2px;
        transform: rotate(-145deg);
    }

    &::after {
        left: -.5px;
        top: -2px;
        transform: rotate(145deg);
    }
}