@import 'variables.scss';

.wrap {
  @media screen and (max-width: 1024px) {
    position: absolute;
    top: 53px;
    right: 0;
    width: 100%;
    max-height: 0;
    padding: 0 17px;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    box-sizing: border-box;
  }
}

.open {
  @media screen and (max-width: 1024px) {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
  }
}

.list {
  display: flex;
  align-items: center;

  @media screen and (max-width: 1024px) {
    position: relative;
    display: block;
    margin-top: 15px;

    &::before {
      content: '';
      position: absolute;
      top: -15px;
      right: 10px;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid $color-alabaster;
    }
  }
}

.btn {
  display: block;
  height: 56px;
  border-radius: 0;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.btnText {
  letter-spacing: -0.18px;
}

.fixed {
  .link {
    color: rgba($color-limed-spruce, 0.9);

    &:nth-child(n + 4) {
      color: rgba($color-limed-spruce, 0.9);
    }
  }
}
