@import 'variables.scss';

.list {
    display: flex;
    align-items: center
}

.link {	
    margin-right: 22px;
    opacity: .9;	
    color: $color-limed-spruce;
    font-family: $font-family-base;	
    font-size: 16px;	
    font-weight: 300;	
    letter-spacing: -.15px;	

    &:nth-child(n+4) {
      color: $color-white;  
    }
}