@import 'variables.scss';

.wrap {
  max-width: $grid-width;
  margin: 0 auto;
  padding: 0 35px;
  box-sizing: border-box;

  @media screen and (max-width: 1024px) {
    width: auto;
    padding: 0 20px;
  }
}
