@import 'variables.scss';

.wrap {
    position: relative;
}

.wrapText {
    display: flex;
    width: 880px;
    margin: 73px auto;
}

.desc {
    opacity: 0.9;	
    color: #3A4850;	
    font-size: 21px;	
    font-weight: $font-weight-normal;	
    letter-spacing: -.09px;	
}

.text {
    font-size: 16px;	
    letter-spacing: .38px;	
    line-height: 26px; 
    margin-left: 50px;
}
