@import 'variables.scss';

.wrap {
    position: relative;
}

.wrapText {
    display: flex;
    width: 880px;
    margin: 73px auto;
}

.title {
    margin-bottom: 3px;
    font-size: 41px;	
    font-weight: $font-weight-bold;	
    letter-spacing: -.18px;	
}

.desc {
    opacity: 0.9;	
    color: #3A4850;	
    font-size: 21px;	
    font-weight: $font-weight-normal;	
    letter-spacing: -.09px;	
}

.text {
    font-size: 16px;	
    letter-spacing: .38px;	
    line-height: 26px; 
    margin-left: 50px;
}

.projects {
    display: flex;
    width: 960px;
    margin: 73px auto;
}

.item {
    height: 229px;
    width: 296px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.1);
    padding: 76px 48px;
    box-sizing: border-box;
}