@import 'variables.scss';

.btn {
    display: block;
    width: 100%;	
    height: 62px;	
}

.btnText {
    font-size: 21px;	
    line-height: 2.9;
    font-weight: $font-weight-normal;	
    letter-spacing: -.45px;
}