@import 'variables.scss';

.content {
    color: #4A4A4A;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.38px;
    line-height: 26px;

    p {
        margin-bottom: 20px;
    }

    h4 {
        opacity: 0.9;
        color: #4A4A4A;
        font-family: Roboto;
        font-size: 21px;
        font-weight: 500;
        letter-spacing: -0.28px;
        margin-top: 40px;
        margin-bottom: 15px;
    }

    li {
        list-style: initial;
        margin-left: 20px;
    }
}
