@import 'variables.scss';

.perk {
  flex: 0 0 26.33%;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 40px;
  padding-top: 30px;
  border-right: 1px solid $color-tower-gray;
  border-bottom: 1px solid $color-tower-gray;

  &:nth-child(3n) {
    border-right: 0;
  }

  &:nth-child(4n),
  &:nth-child(5n),
  &:nth-child(6n) {
    border-bottom: 0;
  }

  @media screen and (max-width: 1024px) {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    border-right: 0;
    border-bottom: 1px solid $color-tower-gray;

    &:last-child {
      border-bottom: 0;
    }
  }
}

.icon {
  height: 75px;
}

.title {
  opacity: 0.9;
  color: $color-limed-spruce;
  font-size: 21px;
  font-weight: $font-weight-bold;
  letter-spacing: -0.19px;
  margin: 0;
  margin-bottom: 10px;
}

.description {
  color: $color-limed-spruce;
  font-size: 16px;
  letter-spacing: 0.52px;
  line-height: 23px;
  font-weight: $font-weight-normal;
  margin: 0;
}
