@import 'variables.scss';

.wrap {
  display: inline-block;
  vertical-align: top;
  width: 296px;
  min-height: 226px;
  margin: 0 12px 30px;
  padding: 40px 30px;
  border-radius: 8px;
  background-color: $color-white;
  box-shadow: 0 2px 8px 1px rgba($color-black, 0.1);
  box-sizing: border-box;

  @media screen and (max-width: 1024px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    min-height: 88px;
    margin-bottom: 20px;
    padding: 20px 25px;
  }
}

.content {
  flex: 1 1 auto;
  padding-right: 10px;
}

.title {
  display: block;
  opacity: 0.9;
  font-size: 21px;
  line-height: 1.2;
  margin-bottom: 5px;
  font-weight: $font-weight-bold;
  letter-spacing: -0.19px;

  @media screen and (max-width: 1024px) {
    margin-bottom: 10px;
  }
}

.address {
  display: block;
  margin-bottom: 15px;
  color: $color-tower-gray;
  font-size: 16px;
  letter-spacing: 0.52px;

  @media screen and (max-width: 1024px) {
    margin-bottom: 0;
  }
}

.text {
  font-size: 16px;
  font-weight: $font-weight-normal;
  letter-spacing: 0.52px;
  line-height: 23px;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.wrapArrow {
  display: none;
  flex: 0 0 20px;
  height: 20px;

  @media screen and (max-width: 1024px) {
    display: block;
  }
}
