@import 'variables.scss';

.title {
    opacity: .9;
    font-size: 41px;	
    font-weight: $font-weight-bold;	
    letter-spacing: -.02px;
    margin-bottom: 6px;;

    @media screen and (max-width: 1024px) {
        font-weight: $font-weight-normal;
        margin-bottom: 15px;
    }
}

.white {
    color: white;
}
