@import 'variables.scss';

.title {
  opacity: 0.9;
  font-size: 41px;
  font-weight: $font-weight-bold;
  letter-spacing: -0.02px;
  margin-bottom: 6px;

  @media screen and (max-width: 1024px) {
    margin-bottom: 15px;
  }
}

.white {
  color: white;
}
