@import 'variables.scss';

.wrap {
    position: absolute;
    top: -32px;
    left: 82px;
    width: 100%;
    height: 300px;
    background: url(./img/space.png) 55px -35px no-repeat;
    transform: rotate(23deg);
    z-index: 1;
}

.astronaut {
    background: url(./img/astronaut.png) 56px -36px no-repeat;
    width: 100%;
    height: 100%;
}