@import 'variables.scss';

.wrap {
  position: relative;
  margin-left: 230px;

  @media screen and (max-width: 1024px) {
    position: relative;
    width: 372px;
    height: 337px;
    overflow: hidden;
    margin-left: -11px;
    margin-top: -55px;
  }

  &::before {
    content: '';
    display: block;
    width: 674px;
    height: 640px;
    background: url(./img/space.png) 0 0 no-repeat;
    margin-top: -128px;
    margin-left: 60px;

    @media screen and (max-width: 1024px) {
      position: absolute;
      top: -10px;
      left: 0;
      width: 371px;
      height: 340px;
      transform: rotate(23deg);
      background: url(./img/spaceMobile.png) 0 0 no-repeat;
      margin-top: 0;
      margin-left: 0;
    }
  }

  &::after {
    position: absolute;
    content: '';
    background: $color-alabaster;
    width: 30px;
    height: 30px;
    bottom: 16px;
    left: 462px;
    transform: rotate(82.9deg);
  }
}

@keyframes float {
  0% {
    transform: translate3d(0, 0, 0) rotate(0.3deg);
  }
  50% {
    transform: translate3d(0, -20px, 0) rotate(6deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0.3deg);
  }
}

.astronaut {
  position: absolute;
  top: 117px;
  left: 155px;
  width: 338px;
  height: 370px;
  background: url(./img/astronaut.png) 0 0 no-repeat;
  animation: float 9s ease-in-out infinite;
  transition: transform;

  @media screen and (max-width: 1024px) {
    top: 116px;
    left: 35px;
    width: 210px;
    height: 180px;
    background: url(./img/astronautMobile.png) -57px -141px no-repeat;
  }
}
