.icon {
  position: absolute;
}

.muse {
  top: -4px;
  left: 164px;
}

.amelis {
  top: 201px;
  left: -5px;
}

.gamespex {
  top: 366px;
  left: 214px;
}

.revel {
  top: 21px;
  right: 178px;
}

.yoji {
  top: 187px;
  right: 15px;
}

.ottoto {
  top: 366px;
  right: 123px;
}
