@import 'variables.scss';

.container {
  background-color: $color-mercury;
}

.inner {
  display: flex;
  justify-content: space-between;
  max-width: $grid-width;
  margin: auto;
  box-sizing: border-box;

  @media screen and (min-width: 1024px) {
    padding: 0 17px;
  }

  @media screen and (max-width: 1024px) {
    width: auto;
  }
}

.wrap {
  height: 58px;

  @media screen and (max-width: 1024px) {
    display: none;
  }

  @include valignAfter();
}

.wrapLogo {
  display: inline-block;
  vertical-align: middle;
  width: 108px;
  margin-right: 30px;
}

.socialLinks {
  display: flex;

  @media screen and (max-width: 1024px) {
    border-top: 1px solid $color-tower-gray;
  }
  @media screen and (min-width: 1024px) {
    width: 240px;
  }
}

.socialLink {
  flex: 1 1 auto;
  padding: 14px;
  box-sizing: border-box;
  opacity: 0.3;

  @media screen and (max-width: 1024px) {
    border-right: 1px solid $color-tower-gray;
    opacity: 1;
  }

  &:last-child {
    border-right: 0;
  }
}
