@import 'variables.scss';

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 960px;
    margin: 0 auto;
    padding: 0 17px;
}

.content {
    width: 350px;
}

.title {
    opacity: .9;
    font-size: 41px;	
    font-weight: $font-weight-bold;	
    letter-spacing: -.02px;
    margin-bottom: 6px;;
}

.desc {
   opacity: .9;
   font-size: 18px;	
   letter-spacing: -.17px;	
   line-height: 24px;
}

.applyNow {
    display: block;
    width: 216px;	
    height: 62px;	
    margin-top: 30px;
    border-radius: 30px;	
    background-color: $color-azure-radiance;
    color: $color-white;	
    font-size: 21px;	
    line-height: 2.9;
    font-weight: $font-weight-normal;	
    letter-spacing: -.45px;
    text-align: center;
}

.bg {
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 674px;
        height: 640px;
        background: url(./img/space.png) 0 0 no-repeat;
        margin-top: -128px;
        margin-left: 60px;
    }

    &::after {
        content: '';
        position: absolute;
        top: 104px;
        left: 155px;
        width: 338px;
        height: 370px;
        background: url(./img/astronaut.png) 0 0 no-repeat;
        transform: rotate(.3deg);
    }
}