@import 'variables.scss';

.container {
  overflow: hidden;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 17px;
  width: $grid-width;
  margin: 0 auto;
  box-sizing: border-box;

  @media screen and (max-width: 1024px) {
    width: auto;
    margin: auto;
    align-items: flex-start;
    padding: 0;
  }
}

.content {
  width: 400px;

  @media screen and (max-width: 1024px) {
    width: 280px;
    margin-top: 74px;
    padding-left: 19px;
  }
}

.title {
  opacity: 0.9;
  font-size: 41px;
  font-weight: $font-weight-bold;
  letter-spacing: -0.02px;
  margin-bottom: 8px;

  @media screen and (max-width: 1024px) {
    margin-bottom: 8px;
    font-size: 39px;
    line-height: 1.2;
    font-weight: $font-weight-bold;
    max-width: 174px;
  }
}

.desc {
  opacity: 0.9;
  font-size: 18px;
  letter-spacing: -0.17px;
  line-height: 24px;

  @media screen and (max-width: 1024px) {
    display: block;
    font-size: 16px;
    letter-spacing: 0.33px;
    line-height: 1.3;
    min-width: 220px;
  }
}

.btn {
  display: block;
  width: 216px;
  height: 62px;
  margin-top: 30px;

  @media screen and (max-width: 1024px) {
    width: 100%;
    max-width: 170px;
    height: 53px;
    margin-top: 20px;

    @include font-size(21px, 53px);
  }
}

.btnText {
  font-weight: $font-weight-normal;
  letter-spacing: -0.75px;

  @media screen and (max-width: 1024px) {
    letter-spacing: 0.2px;
    font-weight: $font-weight-bold;
  }
}
