@import 'variables.scss';

.wrap {
    width: 100%;;
    max-width: 936px;
    margin: 0 auto 50px;
}

.wrapTitles {
    text-align: center;
    margin-bottom: 42px;
}

.wrapItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}