@import 'variables.scss';

.content {
    font-size: 16px;
    font-weight: $font-weight-light;
    letter-spacing: .38px;
    line-height: 1.7;

    p {
        margin-bottom: 20px;
    }

    h4 {
        opacity: 0.9;
        font-size: 20px;
        font-weight: $font-weight-normal;
        letter-spacing: -.28px;
        margin-top: 40px;
        margin-bottom: 15px;
    }

    li {
        list-style: initial;
        margin-left: 20px;
    }
}
