@import 'reset.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'variables.scss';


body {
    font-family: $font-family-base;
    line-height: 1;
    color: $color-limed-spruce;
    background: $color-white;
}
