@mixin valignAfter {
  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    min-height: inherit;
    vertical-align: middle;
  }
}

@mixin font-size($size, $line_height: 0) {
  $remSize: $size / 16px;
  font-size: $remSize * 1rem;

  @if $line_height != 0 {
    line-height: $line_height / $size;
  }
}
