@import 'mixins.scss';

/* COLORS */
$color-white: #fff;
$color-black: #000;
$color-limed-spruce: #3A4850;
$color-dobger-blue: #1996FF;
$color-azure-radiance: #008BFF;
$color-tower-gray: #B1BDC5;
$color-alto: #D8D8D8;
$color-alabaster: #F8F8F8;

/* TYPOGRAPHY */
$font-family-base: 'Roboto', sans-serif;
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 700;

// $white: #ffffff;
// $black: #000000;
// $primary: #23aae2;
// $secondary: #414156;

// // Links
// $link-color: $primary;
// $link-decoration: none;
// $link-hover-color: lighten($primary, 20%);
// $link-hover-decoration: underline;

// // Fonts
// $font-family-base: 'Open Sans', 'Helvetica Neue', Arial, sans-serif,
//   -apple-system;
// $font-family-heading: 'Lora', 'Helvetica Neue', Arial, sans-serif, -apple-system;
// $font-size-base: 1rem; // Assumes the browser default, typically `16px`
// $font-weight-thin: 200;
// $font-weight-light: 300;
// $font-weight-normal: 400;
// $font-weight-bold: 700;
// $font-weight-base: $font-weight-normal;
// $line-height-base: 1.6;

// $headings-font-weight: 400;
