@import 'mixins.scss';

/* COLORS */
$color-white: #fff;
$color-black: #000;
$color-limed-spruce: #3a4850;
$color-dobger-blue: #1996ff;
$color-azure-radiance: #008bff;
$color-tower-gray: #b1bdc5;
$color-tundora: #4a4a4a;
$color-mercury: #e8e8e8;
$color-alto: #d8d8d8;
$color-regent-gray: #89959c;
$color-alabaster: #f8f8f8;
$color-elecric-violet: #bd10e0;

/* TYPOGRAPHY */
$font-family-base: 'Roboto', sans-serif;
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

/* GRID */
$grid-width: 1256px;
