@import 'variables.scss';

.wrapContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1120px;
}

.content {
  max-width: 410px;

  @media screen and (max-width: 1024px) {
    margin: 0 auto;
  }

  p {
    color: $color-tundora;
    font-size: 16px;
    font-weight: $font-weight-light;
    letter-spacing: 0.38px;
    line-height: 1.7;

    @media screen and (max-width: 1024px) {
      font-size: 18px;
      letter-spacing: 0.78px;
    }
  }

  blockquote {
    border-left: 1px solid $color-limed-spruce;
    margin: 13px 0 28px;
    padding: 7px 0 7px 13px;

    @media screen and (max-width: 1024px) {
      width: auto;
      padding: 7px 13px;
      margin: 20px 0 23px;
      border-left: 0;
    }

    > p {
      font-weight: 700;
      font-size: 30px;
      line-height: 1.1;

      @media screen and (max-width: 1024px) {
        font-size: 33px;
        line-height: 1.2;
        letter-spacing: 1.78px;
        color: $color-dobger-blue;
      }
    }
  }
}

.img {
  width: 346px;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.notebook {
  display: block;
  width: 538px;
  margin: 110px auto 80px;

  @media screen and (max-width: 1024px) {
    max-width: 530px;
    width: calc(100% - 13px);
    margin: 80px auto;
  }
}
