@import 'variables.scss';

.wrap {
    background: url(./img/bg.png) 0 0 no-repeat;
    background-size: cover;
    height: 542px;
    margin-bottom: 45px;
}

.container {
    width: 960px;
    margin: auto;
    padding-top: 28px;
}

.item {
    display: inline-block;
    vertical-align: top;
}

.wrapTitle {
    text-align: center;
}

.wrapAddress {
    padding: 30px 0;
    border-top: 1px solid $color-alto;
    
    &:last-child {
        border-bottom: 1px solid $color-alto
    }
}

.title {	
    opacity: 0.9;	
    color: $color-white;		
    font-size: 21px;	
    font-weight: $font-weight-bold;	
    letter-spacing: -.19px;
    margin-bottom: 8px;
}

.address {
    color: $color-white;	
    font-size: 16px;	
    letter-spacing: .52px;	
}